# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test-results
playwright-report
.nyc_output

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# CI
.github

# Documentation
*.md
docs
